  .chart-container-r1 {
    width: 80%;
    height: 85%;
    margin: auto;
  }
  .logo {
    margin: auto;
    width: 700px;
    height: 500px;
}
 .bar-chart-container {
    height: 250px;
    width: 380px;
    float: left;
  }