#chart-container {
    width: 80%;
    height: 480px;
    margin: 0 auto;
  }
  

  #doughnut-chart-container {
    height: 600px;
    width: 600px;
    float: left;
  }

  #horizontal-bar-chart-container {
    width: 500px;
    height: 600px;
    float:right
  }