#chart-container {
    width: 80%;
    height: 480px;
    margin: 0 auto;
  }


  #doughnut-chart-container {
    height: 550px;
    width: 550px;
    float: left;
  }

  #horizontal-bar-chart-container {
    width: 600px;
    height: 1000px;
    float:right;
    padding-top: 100px;
  }

  #chart-instructions {
    bottom: 0;
    font-size: 18;
    padding-top: 50px;
    font-weight: bold;
    display:inline-block;
  }
