body {
    font-family: 'Lato', sans-serif;
}

.section {
	text-align:center;
}

#fp-nav ul li .fp-tooltip {
    color: black;
}

.gray {
    background-color: whitesmoke;
}

.box {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.background {
  fill: none;
  pointer-events: all;
}

.active {
    outline: none;
}

.active-point {
    stroke: white;
    stroke-width: 0.3px;
}

#listing-info {
    margin-bottom: 30px;
}

#price-over-year-container {
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: 60%;
}
