body {
    font-family: 'Lato', sans-serif;
}

.section {
	text-align:center;
}

.gray {
    background-color: whitesmoke;
}

.box {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left {
    left: 0;
}

.right {
    right: 0;
}
