body {
    font-family: 'Lato', sans-serif;
}

.section {
	text-align:center;
}

.gray {
    background-color: whitesmoke;
}

.box {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.background {
  fill: none;
  pointer-events: all;
}

.active {
    outline: none;
}

#price-over-year-container {
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: 60%;
}
